
 <div class="container">     
    <div class="row">
      <div class="card position1 ml-auto" style="width: 18rem;" *ngIf="dish">
        <div class="card-header">
            <h5 class="card-title">Comments</h5>
            <div class="comment-body">
            <ul class="list-group list-group-flush" *ngFor="let comment of dish.comments">
                <li class="list-group-item">rating: {{comment.rating}}<br>
               comments: {{comment.comment}}<br>
                <br>author: {{comment.author}}</li>
                <div class="card-footer">
                    <small class="text-muted"><li class="list-group-item">{{comment.date | date: 'MMM. dd, yyyy' }}</li></small>
                </div> 
             </ul>
             <a (click)="goBack()" class="card-link btn btn-primary btn-sm">BACK</a>
            </div>  
      </div>
    </div>
  </div>    
  </div>
